<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MarkdownChunkerIntegrationTestSuite" verbose="2">
    <test name="MarkdownChunkerIntegrationTest" verbose="2">
        <classes>
            <class name="io.ballerina.stdlib.ai.MarkdownChunkerIntegrationTest"/>
        </classes>
        <classes>
            <class name="io.ballerina.stdlib.ai.observability.TracingTest"/>
        </classes>
    </test>
</suite>
